%import model
%rebase("base.html", title = "Minolovec")

<div>
    Postavljene zastavice: {{igra.postavljene_zastavice()}}
</div>
<div>
    Mine: {{st_min}}
</div>

<table class="table" table is-boarded>
    <thead>
        <tr>
            <th>X</th>
            % for id_st in range(velikost_polja):
            <th>{{id_st}}</th>
            %end
        </tr>
    </thead>
    <tbody>
        % for vrstica in range(velikost_polja):
        <tr>
            <th>{{vrstica}}</th>
            % for stolpec in range(velikost_polja):
            % celica = model.izpis_celice(igra, vrstica, stolpec)
            <td>{{celica}}</td>
            % end
        </tr>
        % end
    </tbody>

</table>


% if stanje == model.ZMAGA:
<h1>ZMAGA!</h1>
<p>Bravo! Zmagali ste!</p>

<form action="/nova_igra/" method="post">
    <button type="submit">Nova igra</button>
</form>

% elif stanje == model.PORAZ:
<h1>KONEC IGRE!</h1>
<p>Sprožili ste mino! Igre je konec.</p>

<form action="/nova_igra/" method="post">
    <button type="submit">Nova igra</button>
</form>

% elif stanje == model.NAPAKA:

<div class="container is-fullhd">
    <div class="notification">
        Neveljaven vnos!
    </div>
</div>
<h1>Neveljaven vnos!</h1>

<form method="post" action="/igra/">
    Tvoja poteza:<input name="poskus" /> <input type="submit" value="Ugibaj!">
</form>

% else:
<form method="post" action="/igra/">
    Tvoja poteza:<input name="poskus" /> <input type="submit" value="Ugibaj!">
</form>
%end



