%rebase("base.html")
<div class="content is-medium">
<h2 class="title is-2">Dobrodošel na portalu minolovec!</h2>

<h3 class="title is-3">Navodila:</h3>
<p>
    Cilj igre je odkriti vsa polja brez min.<br>
    Polje odkriješ tako, da v okvirček vpišeš koordinate. Najprej vrstico, nato stolpec, ki ju ločiš s presledkom.<br>
    Če hočeš polje označiti z zastavico, dodaš še f.<br>
    <strong>Primer:</strong> 6 3 f postavi zastavico na mesto, ki je v šesti vrstici in v tretjem stolpcu.
</p>
</div>

<br>
<h4 class="subtitle is-4">Preden začneš, moraš izbrati še težavnost.</h4>

<form action="/nova_igra/" method="post">
  <div class="field has-addons">
    <div class="control">
      <div class="select is-primary">
        <select name="tezavnost" id="tezavnost">
          <option disabled selected value> -- Izberi težavnost -- </option>
          <option value="lahko">Lahko</option>
          <option value="srednje">Srednje</option>
          <option value="tezko">Težko</option>
        </select>
      </div>
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">Nova igra</button>
    </div>
  </div>
</form>

<br>
<br>
<h4 class="subtitle is-4">Lahko si tudi sam izbereš težavnost.</h4>

<p>
  Vnesi velikost polja n in število min, ki ju loči s presledkom.<br> 
  (Na primer: 5 3 bo izrisalo polje 5 x 5 s tremi minami.)
</p>

<br>
<form action="/nova_igra/" method="post">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" id="tezavnost" name="tezavnost" placeholder="velikost_polja št_min">
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">Nova igra</button>
    </div>
  </div>
</form>